*{
    margin: 0;
    padding: 0%;
}
body{
    background-color: #083987;
    text-align: center;
}
.container{
height: 70vph;
justify-content: center;
display: flex;
  align-items: center;  
}
.row{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;    
    margin: 4 vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #DD1C1A;
    background-color: #F0C808;    
}
#res{
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.25rem;
    background-color: #FFF1D0;
}